<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>文件管理</title>
    <link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/style.css">
    <link rel="stylesheet" type="text/css" href="/admin/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/admin/images/icon/icon.png">
    <link rel="shortcut icon" href="/admin/images/icon/favicon.ico">
    <script src="/admin/js/jquery-2.1.4.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script src="/admin/js/jquery.form.js"></script>
</head>

<body class="user-select" style="margin: 0px;padding: 0px;">
<div>
    <ul class="breadcrumb" style="margin: 0px;">
        <li>文件管理</li>
        <li>文件添加</li>
    </ul>
</div>
<br/>
<div class="row">
    <form action="/resume/add" id="ff1"  method="post" class="add-article-form">

        <div class="col-md-9">

            <div class="form-group">
                <label for="article-title" class="sr-only">模板名称</label>
                <input type="text" id="article-title" name="rname"  placeholder="在此处输入模板名称" required autofocus autocomplete="off">
            </div>

        </div>
        <div class="col-md-3">

            <div class="add-article-box">
                <h2 class="add-article-box-title"><span>种类栏目</span></h2>
                <div class="add-article-box-content">
                    <ul class="category-list">
                        <#list (species)! as cate >
                        <li>
                            <label>
                                <input name="sid" type="radio" value="${(cate.sid)!}" checked>
                                ${(cate.sname)!} <em class="hidden-md">( 种类栏目ID: <span>${(cate.sid)!}</span> )</em></label>
                        </li>
                    </#list>
                    </ul>
                </div>
            </div>

            <div class="add-article-box">
                <h2 class="add-article-box-title"><span>模板图片:请勿上传动图GIF</span></h2>
                <div class="add-article-box-content">
                    <input type="file" class="form-control"  id="uploadfile" name="upload" accept="image/jpg, image/jpeg" onchange="uploadImg()" />
                    <img alt="" id="fileimg" src="/2.jpg" width="338" height="200">
                    <input type="hidden" name="simage" id="articleImg"/>
                </div>
                <h2 class="add-article-box-title"><span>附件 注:请上传.doc,.docx文件</span></h2>
                <div class="add-article-box-content">
                    <input type="file" class="form-control"  id="uploadfile2" name="uploadWord" onchange="uploadWord1()"/>
                    <img alt="" id="fileimg1" src="/3.jpg" width="338" height="300">
                    <input type="hidden" name="raddress" id="raddress"/>
                </div>
                <!--<div class="add-article-box-content">
                    <input type="file" class="form-control" placeholder="请输入简历费用" id="scost" name="scost"/><span>费用</span>
                </div>-->
                <h3><span>简历费用</span></h3><input type="text" id="scost" name="scost" placeholder="请输入简历费用0.00"/>
            </div>
            <div class="add-article-box-footer">
                <button class="btn btn-primary" type="submit" name="submit">上传</button>
            </div>
        </div>
</div>
</form>
</div>

<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/admin-scripts.js"></script>

<script type="text/javascript">
    function uploadImg(){
        var options = {
            url:'/resume/file/upload',
            type:'post',
            success:function(data){
                $("#fileimg").attr("src",data);
                $("#articleImg").val(data);
            }
        }

        $("#ff1").ajaxSubmit(options);
    }

</script>
<script type="text/javascript">
    function uploadWord1() {
        var options={
            url:'/resume/file/uploadWord',
            type:'post',
            success:function (data) {
                $("#fileimg1").attr("src",data);
                $("#raddress").val(data);
            }
        }

        $("#ff1").ajaxSubmit(options);
    }
</script>
</body>
</html>
