<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>后台管理系统</title>
<link rel="stylesheet" type="text/css" href="/admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/admin/css/style.css">
<link rel="stylesheet" type="text/css" href="/admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="/admin/images/icon/icon.png">
<link rel="shortcut icon" href="/admin/images/icon/favicon.ico">
<script src="/admin/js/jquery-2.1.4.min.js"></script>
</head>

<body class="user-select" style="overflow:hidden;">
<section class="container-fluid">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">切换导航</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="javascript:void(0)">后台</a> </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
          
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">${(admin.aname)!}<span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-left">
              </ul>
            </li>
            <li><a href="/back/login" onClick="if(!confirm('是否确认退出？'))return false;">退出登录</a></li>
            <li><a data-toggle="modal" data-target="#WeChat">帮助</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="row">
    <aside class="col-sm-3 col-md-2 col-lg-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="/back/hello" target="mainframe">报告</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a  href="/species/speciesls" target="mainframe">种类管理</a></li>
        <li><a href="/resume/resumelist" target="mainframe">文件管理</a></li>
        <li><a href="/back/admin/adminlist" target="mainframe">管理员列表</a></li>
          <li><a href="/wechat/user/userlist?page=1" target="mainframe">用户管理</a></li>
        <li><a href="/back/login" >退出</a></li>
      </ul>
    </aside>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main"  id="main" style="margin-top: 0px;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;">
      <iframe  id="mainframe"  name="mainframe" src="/back/main" style="width: 100%;border: 0px;margin: 0px;padding: 0px;"></iframe>
      <script type="text/javascript">
        var height = jQuery(window).height() - 50;
        jQuery("#mainframe").attr("height", "" + height + "px;");
        jQuery("aside ul li").click(function(){
          jQuery("aside ul li").removeClass("active");
          $(this).addClass("active");
        });

      </script>
    </div>
  </div>
</section>

<script src="/admin/js/bootstrap.min.js"></script>
<script src="/admin/js/admin-scripts.js"></script>
</body>
</html>
